<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href="https://fonts.googleapis.com/css2?family=Montserrat&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="css/account.css">
    <title>Account</title>
</head>
<body>
    <div class="blur">
    <nav>

        <div class="li"> <li>   <a class="nav_links" href="/dashboard"> Home</a> </li>
            <li>   <a class="nav_links" href="/">Logout </a></li>
        </div>
       
    </nav>

    <div class="page-wrapper bg-gra-03 p-t-45 p-b-50">
        <div class="wrapper wrapper--w790">
            <div class="card card-5">
                <div class="card-heading">
                    <h2 class="title">Account Details</h2>
                </div>
                <div class="card-body">
                    <form method="POST">
                        <div class="form-row">
                            <div class="name">Name</div>
                            <div class="value">
                                <div class="input-group">
                                    <input class="input--style-5" type="text"  value='<%=name  %> ' disabled >
                                </div>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="name">Account</div>
                            <div class="value">
                                <div class="input-group">
                                    <input class="input--style-5" type="text"  value="<%= account %> " disabled>
                                </div>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="name">Password</div>
                            <div class="value">
                                <div class="input-group">
                                    <input class="input--style-5" type="text"  value="<%=password %> " disabled>
                                </div>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="name">Email</div>
                            <div class="value">
                                <div class="input-group">
                                    <input class="input--style-5" type="text" value="<%= email %> " disabled>
                                </div>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="name">Address</div>
                            <div class="value">
                                <div class="input-group">
                                    <input class="input--style-5" type="text"  value="<%= address %> " disabled>
                                </div>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="name">Phone</div>
                            <div class="value">
                                <div class="input-group">
                                    <input class="input--style-5" type="text"  value="<%= phone %> " disabled>
                                </div>
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="name">Date Of Birth</div>
                            <div class="value">
                                <div class="input-group">
                                    <input class="input--style-5" type="text"  value="<%= Dob %> " disabled>
                                </div>
                            </div>
                        </div>
                      <div class="btt_middle">
                       <a href="/update"class="space"><button type="button">Update Details Info</button></a>
                           <div class="button "><button type="button">Delete Your Account</button></div>
                        </div>
                  
                        
                            
                        </div>
                    </form>


                </div>
            </div>
        </div>
   


    </div>

<div class="del-box none">
   <div class="ptext"> <p>Your Account Will be deleted permanently no backup is provided </p>
    <P>Are You Sure  ? </P></div>
    <div class="btn">
     <a href="/account"> <button class='green' > < back </button></a>
        <a href="/delete"><button class='red'> Yes I am Sure </button></a>
    </div>


</div>
<script>
  const button=document.querySelector('.button');
  const box=document.querySelector('.del-box');
  const main_box=document.querySelector('.blur');
 
  button.addEventListener('click',()=>{
    box.classList.add('pop');
main_box.style.filter='blur(8px)';
main_box.style.pointer ='none';

    // Scroll to it
    window.scrollTo(0, main_box.offsetTop);

  });
  

</script>    
</body>
</html>
